<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.demo.main.dao.LoginMapper">


	<select id="getLoginUserChkId" parameterType="map" resultType="example.demo.main.service.LoginDto" >
	
		SELECT USER_ID
			, PASSWD
			, USER_NAME
			, PHONE_NUM
			, EMAIL
			, USER_AUTH
		FROM TB_USER
		WHERE USER_ID = #{userId}
		  
	</select>
	
	<select id="getPassWd" parameterType="map" resultType="String">
		SELECT PASSWD
		FROM TB_USER
		WHERE 1=1
		AND USER_ID = #{userId}
	
	</select>


</mapper>